name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/first-interaction@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: "Welcome to SimplyPDF! Thank you for opening your first issue here. We appreciate your contribution!"
          pr-message: "Welcome to SimplyPDF! Thank you for your first pull request. We will review it as soon as possible!"
